<h1>BATTLESHIP</h1>
<div ng-controller="controladorTabla">
    <table>
        <tr ng-repeat="row in [1,2,3,4,5,6,7,8,9,10]">
            <td ng-repeat="column in [1,2,3,4,5,6,7,8,9,10]">
                <div id="div-{{ row }}-{{ column }}" class = "celda" ondrop="drop(this,event)" ondragover="allowDrop(event)"></div>
            </td>
        </tr>
    </table>
      <div ng-repeat="barco in barcos" ondrop=drop(this,event) ondragover=allowDrop(event)>
          <img ng-click="cambiarOrientacion(barco)" id={{barco.identificador}} ng-src={{barco.url}} draggable="true" ondragstart="drag(event)" width="{{barco.ancho}}" height="{{barco.alto}}">
      </div>
</div>