.header {
    background-color: #ccc;
    text-align: center;
    font-weight: bold;
}

.celda {
    width: 30px;
    height: 30px;
    background-color: #428BCA;
}

.atacado {
    background-color: #F0AD4E;
}

.eliminado {
    background-color: #D9534F;
}

.panel-titulo {
    padding-left: 20px;
}
.div {
    float: left;
}